<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div style="text-align:center">
        <h1 [appBackground]="'green'" [defaultColor]="'transparent'">
          Hi, Dude, this is {{ title }}!
        </h1>

          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" 
              routerLink="/" 
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
            [routerLink]="['/cars']" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            >Машинки<span class="sr-only">(current)</span></a> 
          </li>
        </ul>
        
      </div>
      <div class="col-md-12">
        <router-outlet></router-outlet>
        <!-- <app-form-template></app-form-template> -->
        <!-- <app-switch-template></app-switch-template> -->
        <!-- <app-pipes-template></app-pipes-template> -->
      </div>
    </div>
  </div>
</div>
