<div class="div col-md-8 offset-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="user">  
      <div class="form-group">
        <label>Email</label>
        <input 
          type="text" 
          class="form-control" 
          formControlName="email"
          [ngClass]="{'is-invalid': form.get('user.email').invalid && form.get('user.email').touched}"
        >
        <p 
          *ngIf="form.get('user.email').invalid && form.get('user.email').touched"
        >
          <span *ngIf="form.get('user.pass').errors['required']">Введите корректный email!</span>
          <span *ngIf="form.get('user.pass').errors['emailIsUsed']"> Такой email уже существует</span>
        </p>
      </div>
      
      <div class="form-group">
        <label>Пароль</label>
        <input 
          type="password" 
          class="form-control" 
          formControlName="pass"
          [ngClass]="{'is-invalid': form.get('user.pass').invalid && form.get('user.pass').touched}"
        >
          <p 
            *ngIf="form.get('user.pass').invalid && form.get('user.pass').touched"
          >
          <span *ngIf="form.get('user.pass').errors['required']">Пароль не должен быть пустым!</span>
          <span *ngIf="form.get('user.pass').errors['lengthError']"> Пароль не должен быть  меньше {{charsCount}} символов!</span>
        </p>
          <!-- <button type="button" class="btn btn-primary" (click)="addRandomEmail()">Сгенерировать Email</button> -->
      </div>
    </div>
    <div class="form-group">
      <label>Выберите страну</label>
      <select class="form-control" formControlName="country">
        <option value="ru">Россия</option>
        <option value="by">Белоруссия</option>
        <option value="ua">Украина</option>
      </select>
    </div>

    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input type="radio" name="answer" formControlName="answer" [value]="ans.type">
        {{ans.text}}
      </label>
    </div>
    <button 
      class="btn btn-success" 
      type="submit" 
      >Сохранить</button>
      <!-- [disabled]="form.invalid" -->
  </form>

  <!-- <div *ngIf="isSubmited">
    <pre>
      {{ formData | json }}
    </pre>
  </div> -->
</div>
